{% extends 'JeanDeJeanPortfolioBundle::layout.html.twig' %}
{% block header_page %}
<div class="page-header">
    <h1>{{ page.getName()|capitalize }}</h1>
    <p class="text-info">{{ page.getHeader() }}</p>
</div>
{% endblock %}
{% block body %}
    <p>{{ page.getContent() }}</p>
    {{ 'http://youtu.be/A3PDXmYoF5U'|youtube(650, 350)|raw }}
{% endblock %}

