{% for item in menu %}
{% if item.getPages()|length > 1 %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.getLabel() }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for subitem in item.getPages() %}
        <li><a href="{{ url('view_page', {'menu_name': subitem.getMenu().getSlug(), 'slug': subitem.getSlug()}) }}">{{ subitem.getName() }}</a></li>
        {% endfor %}
    </ul>
</li>
{% else %}
{% for subitem in item.getPages() %}
<li><a href="#">{{ subitem.getName() }}</a></li>
{% endfor %}
{% endif %}
{% endfor %}

